<body  class="hold-transition login-page">
	<div class="login-box">
		<div class="login-logo">
			<h1><b>Área </b> <small>Aluno</small></h1>
		</div>
		<!-- /.login-logo -->
		<div class="login-box-msg">

			<!-- /.col -->
			
			<div class="text-center">
				<%= link_to "Entrar" , aluno_path , class: "btn btn-primary btn-block btn-flat" %>
			</div>
	
			<!-- /.col -->
		</div>

		<!-- /.login-box-body -->
	</div>


	<div class="login-box">
		<div class="login-logo">
			<h1><b>Login </b> <small>Professor</small></h1>
		</div>
		<!-- /.login-logo -->
		<div class="login-box-body">
			<% if flash[:alert] %>
			<p id = "notice"><%= flash[:alert]%> </p>
			<% end %>
			<p class="login-box-msg">Sign in to start your session</p>

			<%= form_tag do %>
			<div class="form-group has-feedback">
				<%= text_field_tag :name, params[:name], class: "form-control", placeholder: "Username"%>
				<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
			</div>
			<div class="form-group has-feedback">
				<%= password_field_tag :password, params[:password], class: "form-control", placeholder: "Password"%>
				<span class="glyphicon glyphicon-lock form-control-feedback"></span>
			</div>
			<div class="row">
				<div class="col-xs-8">
					<div class="checkbox icheck">
						<label>
							<input type="checkbox"> Remember Me
						</label>
					</div>
				</div>
				<!-- /.col -->
				<div class="col-xs-4">

					<%= submit_tag "Login" , class: "btn btn-primary btn-block btn-flat"%>
				</div>
				<!-- /.col -->
			</div>
			<!-- </form> -->
			<% end %>

			<!-- /.login-box-body -->
		</div>
		<!-- /.login-box -->
<!--
			<script>
				$(function () {
					$('input').iCheck({
						checkboxClass: 'icheckbox_square-blue',
						radioClass: 'iradio_square-blue',
      increaseArea: '20%' // optional
  });
				});
			</script>
		-->

	</body>