<h1>New User</h1>

<%= form_for(@user) do |f|%>

      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>

      <div class="col-xs-4">
        <%= submit_tag "Salvar" , class: "btn btn-primary btn-block btn-flat"%>
      </div>
      <% end %> <!-- end form --> 

<%= link_to 'Back', users_path %>
